.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(60, 60, 255)
}

.logo-footer img {
    width: 50%;
    padding: 40px 0px 0px 80px;
}
.lojas h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'saira';
    color: rgb(255, 255, 255);
 }
.lojas h3 {
    font-size: 15px;
    font-weight: 300;
    font-family: 'saira';
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    
 }
.lojas a {
    text-decoration: none;
    font-family: 'saira';
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.747);
 }
.redes-sociais h2 {
    font-size: 15px;
    font-weight: 500;
    font-family: 'saira';
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
 }
.redes-sociais a {
    font-size: 25px;
    padding-left: 15px;
    color: rgb(255, 255, 255);
}
.horario h2 {
    font-size: 15px;
    font-weight: 500;
    font-family: 'saira';
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.horario h3 {
    font-size: 13px;
    font-weight: 200;
    font-family: 'saira';
    color: rgb(255, 255, 255);
}
.extra {
   flex: 1;
   padding: 10px;
   align-items: center;
   text-align: center;
   margin: 50px 0px;
}
.atbr {
    padding: 20px 0px 20px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.438);
    background-color: rgb(60, 60, 255);
}
.atbr a {
    font-family: 'saira';
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.atribuicao {
    text-align: center;
    align-items: center;
    font-family: 'saira';
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 530px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-footer {
        display: none;
    }
    .extra {
        margin-top: 10px;
    }
}