@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}


.sub-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: rgba(231, 231, 231, 0.918);   
}

.contatos {
    text-align: center;
    padding: 0.6rem 0.1rem;  
}

.number-list {
    display: block;
    margin: 1px auto;
    font-weight: 450;
    font-size: 0.8rem;
    list-style: none;
    text-align: end;
}

.number {
    text-decoration: none;
    padding-right: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(99, 99, 99);  
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.fundo-banner {
    padding: 0;
    background-color: blue;
}

.banner img {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.089);
}

.planos h1{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.carrossel {
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 40%;
    height: 40%;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    position: relative; 
}

.slides {
    display: flex;
    width: 420%;
    height: 100%;   
}

.navigation-manual {
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

input {
    display: none;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 4px;
    border-radius: 20px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 25px;
}

.manual-btn:hover {
    background: #fff;
    transition: 0.4s;
}

.slide {
    width: 25%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
    margin-left: -5px;
    border-radius: 5px;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}


.navigation-auto {
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

.navigation-auto div {
    border: 2px solid #fff;
    padding: 4px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}

.navigation-auto div:not(:last-child) {
    margin-right: 25px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

.btn-assine {
    text-align: center;
}

.btn-assine button {
    --color: rgb(8, 8, 218);
    font-family: 'saira';
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    cursor: pointer;
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 50%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: rgb(8, 8, 218);
    transition: background 0s;
   }

.global {
    background: linear-gradient(to top,#ffffff79, rgba(231, 231, 231, 0.918));
}


.container-planos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    font-family: 'saira' Arial, Helvetica, sans-serif;
    background-color: transparent;  
}

.planos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'saira' Arial, Helvetica, sans-serif;
}

.planos h2 {
    display: flex;
    font-size: 2rem;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.753);
}

.planos h5 {
    padding: 5px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.753);
}

.planos p {
    padding-top: 24px;
    margin: 0px 15px;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.2px;
    font-size: 16px;
    font-weight: 300;
    max-width: 600px;
}

.rwb-tooltip {
    background-color: #797bff;
}

.rwb-tooltip h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
}

.secao-promocao {
    position: relative;
    width: 100%;
}

.img-fundo {
    
    width: 100%;
}

.img-fundo img {
    width: 100%;
    height: auto;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.089);
    
}

.titulo {
    position: absolute;
    top: 25%;
    left: 10%;
    line-height: 1.2;
}

.titulo h1 {
    font-family:'saira'; 
    font-size: clamp(0.2em, 0.4em + 2vw, 2.5em); 
    font-weight: 400;
    color: #ffffff;
    text-shadow: 3px 8px 10px rgba(0, 0, 0, 0.089);
}

.titulo h2 {
    font-family:'saira'; 
    font-size: clamp(0.5em, 1em + 3vw, 10em) ; 
    font-weight: 550;
    color: #ffffff;
    text-shadow: 3px 8px 10px rgba(0, 0, 0, 0.089);
}


.sub-titulo {
    position: absolute;
    top: 50%;
    left: 10%; 
}

.sub-titulo h3 {
    margin-bottom: 0.3rem;
    font-weight: 700 ;
    font-size: clamp(1em, 0 + 1.5vw, 2.5em); 
    color: #fff;
    text-shadow: 3px 8px 10px rgba(0, 0, 0, 0.089);
}

.sub-titulo p {
    font-size: clamp(1.1em, 1rem + 3vw, 0.9em);
    font-weight: 400;
    line-height: 1.4;
    max-width: 70%;
    color: #fff;
    text-shadow: 3px 8px 10px rgba(0, 0, 0, 0.089);
}

.btn-indicar {
    position: absolute;
    bottom: 2vw;
    left: 10%;
}

.btn-indicar button {
    --color:rgb(8, 8, 218);
    font-family: 'saira';
    display: inline-block;
    width: 8em;
    height: 2.6em;
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(8, 8, 218);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: rgb(8, 8, 218);
    background-color: #5eafcf;
    cursor: pointer;
   }

   .btn-indicar button:hover {
    color: white;
   }

.sobre {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 49%;
    background-color: #9ea0ff;
}

.sobre h1 {
    position: relativ;
    width: 20%;
    height: 35px;
    padding-top: 5%;
    text-align: center;
    align-items: center;
}
.video {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    
    
}

@media screen and (max-width: 761px) {
   
    .open {
        display: block;
    }

    .container-planos {
        padding: 30px 0px;
    }

    .planos h5 {
        font-size: 13px;
    }

    .planos h2 {
        font-size: 21px;
    }

    .planos p {
        font-size: 14px;
    }

    .slider {
        margin: 0 20px;
        height: auto;
    }

    .titulo h1 {
        margin-left: -10px;
        font-size: 25px;
        line-height: 40px;
    }
    .titulo h2 {
        margin-left: -10px;
        font-size: 35px;
        line-height: 20px;
    }

    .sub-titulo h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.9;
        margin-left: -10px;
    }
    .sub-titulo p {
        font-size: 15px; 
        line-height: 1.2;
        width: 370px;
        font-weight: 200;
        margin-left: -10px;
    }

    .btn-indicar {
        display: flex;
        position: absolute;
        top: 250px;
        left: 10%;
    }
    
}
@media screen and (max-width: 900px){
    
    .nav-link {
        font-size: 80%;  
    }
}

@media screen and (max-width: 807px){
    .nav-link {
        font-size: 1.5vh;
        white-space: nowrap;
    }
    .nav-item {
        margin-right: -5px;
    }
    .titulo h1 {
        font-size: 1.4rem;
        line-height: 2.5rem;
        left: 10%;
    }
    .titulo h2 {
        font-size: 2rem;
        line-height: 1rem;
        left: 10%;
    }
    .sub-titulo h3 {
        font-size: 1.2rem;
        left: 10%;
    }
    .sub-titulo p {
        width: 60%;
        font-size: 1rem;
        left: 10%;
    }
    .btn-indicar {
        top: 80%;
        left: 10%;
    }
}

@media screen and (max-width: 430px) {
    .sub-titulo p {
        width: 70%;
        font-size: 0.9rem;
        left: 10%;
    }
    .btn-indicar {
        top: 83%;
        left: 8%;
    }
    .slider {
        width: auto;
        height: auto;
        border-radius: 10px;
    }
}


